<app-sidenav [navItems]="navItems" (navigate)="onNavigate($event)"
(openProfile)="openProfile()"
(logout)="logout()" 
      [user]="user">

    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav-content>
        <!-- Dashboard Content -->
        <div class="dashboard-content">
          
          <!-- Action Buttons -->
          <div class="action-buttons">
          
            <button mat-fab color="accent" (click)="addMember()">
              <mat-icon>person_add</mat-icon>
            </button>
          </div>
        </div>
        <div class="dashboard-content">
          <!-- ... existing sections ... -->
  
          <!-- New Members Section -->
          <app-members-list 
            [members]="newMembers"
            title="Recently Added Members">
          </app-members-list>
  
          <!-- ... action buttons ... -->
        </div>
          <ng-content></ng-content>
        </mat-sidenav-content>
      </mat-sidenav-container></app-sidenav>