<div class="container">
    <div class="left">
        <img src="logo.png" alt="Logo" width="20%" class="logo">
        <form (ngSubmit)="login(loginForm)" #loginForm="ngForm">
            <div class="form-group">
                <input type="email" id="email" name="email" class="capsule-input" placeholder="Email" ngModel required>
            </div>
            <div class="form-group">
                <input type="password" id="password" name="password" class="capsule-input" placeholder="Password" ngModel required>
            </div>
            <button type="submit" class="capsule" [disabled]="isLoading">
                <ng-container *ngIf="!isLoading; else loadingTemplate">Login</ng-container>
            </button>
        </form>
        <div class="separator"></div>
        <button class="outlined" (click)="registerBusiness()">
            Register Business
        </button>
    </div>
    <div class="right"></div>
    <div class="rightabsSupport"></div>
    <div class="rightabs"></div>

    <ng-template #loadingTemplate>
        <mat-spinner diameter="24" color="accent" [style.color]="'white'"></mat-spinner>
    </ng-template>
</div>