<div class="dashboardMainContainer">

  <div class="sidenavContainer">
    <app-sidenav [navItems]="navItems" (navigate)="onNavigate($event)"
(openProfile)="openProfile()"
(logout)="logout()" 
      [user]="user">
    </app-sidenav>
  </div>
  <div class="contentContainer">
        <!-- Dashboard Content -->
        <div class="dashboard-content">
          <!-- Stats Cards -->
  
          <!-- Project Cards -->
          <app-projects-list 
            [projects]="projects"
            title="All Projects"
            (projectSelected)="openProjectDetails($event)">
          </app-projects-list>
            <!-- Action Buttons -->
            <div class="action-buttons">
                <button mat-fab color="primary" (click)="addProject()">
                <mat-icon>add</mat-icon>
                </button>
                
            </div>
          <!-- ... action buttons ... -->
        </div>
          <ng-content></ng-content>
      </div>
</div>