.profile {
    max-width: 600px;
    width: 100%;
    margin: auto;
  }

  .profile-picture {
    position: relative;
    display: inline-block;
  }

  .profile-picture img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .profile-picture button {
    position: absolute;
    bottom: 0;
    right: 0;
    background: white;
  }

  .profile-meta {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 16px;
  }

  .meta-item {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  mat-icon {
    color: #0C64B6;
  }.profile-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.first-container, .second-container {
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
}
.profile-header {
    display: flex;
    align-items: center;
}
.profile-picture {
    margin-right: 20px;
}
.profile-picture img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.profile-info {
    display: flex;
    flex-direction: column;
}
.profile-name {
    font-size: 1.5em;
    font-weight: bold;
}
.profile-role {
    font-size: 1.2em;
    color: gray;
}
.profile-meta {
    margin-top: 15px;
}
.meta-item {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.meta-item mat-icon {
    margin-right: 10px;
}

.full-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.profile-card {
  width: 100%;
  max-width: 70vw;
}
.profile-header {
  display: flex;
  align-items: center;
}
.profile-picture {
  margin-right: 20px;
}
.profile-picture img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.profile-info {
  display: flex;
  flex-direction: column;
}
.profile-name {
  font-size: 2.5em;
  font-weight: bold;
}
.profile-role {
  font-size: 1.5em;
  color: gray;
}
.profile-meta {
  margin-top: 15px;
}
.meta-item {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.meta-item mat-icon {
  margin-right: 10px;
} 
.dashboardMainContainer{
  display: grid;
  grid-template-columns: 250px 1fr;
  height: 100vh;
  overflow: hidden;
}
.contentContainer{
  overflow-y: auto;
  padding: 24px;
}