<div class="dashboardMainContainer">

  <div class="sidenavContainer">
<app-sidenav [navItems]="navItems" (navigate)="onNavigate($event)"
(openProfile)="openProfile()"
(logout)="logout()" 
      [user]="user">
    </app-sidenav>
  </div>

  <div class="contentContainer">
                <div class="dashboard-content">
          <!-- ... existing stats and projects ... -->
  
          <!-- Recent Files Section -->
          <app-file-list 
        [files]="recentFiles"
        title="Recent Files"
        (fileSelected)="openFileDetails($event)"
        (menuAction)="handleFileMenu($event)">
      </app-file-list>
  
          <!-- ... action buttons ... -->
        </div>
          <ng-content></ng-content>
        </div>
      </div>